<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joining Form</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <div class="form-container">
    <h2>Joining Form</h2>
    <form action="/details" method="post">
      <label for="firstname">Starting Date:</label>
      <input type="text" id="firstname" name="firstname" required>

      <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>
