<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="t-container">

  <div class="profile-card">
    <div class="card-body">

      <div class="card-img"></div>
      <div class="name">Toluwalope Yussuff</div>
      <div class="title">Software Developer | Student</div>
      <div class="text">
        <p>Gradually finding my way in software development.</p>
        <p class="i">Constantly learning...</p>
      </div>
      <div class="task">
        <p>Stage 1 <span class="fa fa-external-link"><a href="https://github.com/to-dy/hng-getting-started"> GitHub </a></span></p>
      </div>
      <div class="social">
        <ul>
          <li><a href="https://www.linkedin.com/in/toluyussuff" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href="https://github.com/to-dy" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
          <li><a href="https://twitter.com/todywa" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="https://hnginterns.slack.com/team/tody" target="_blank"><i class="fa fa-slack fa-lg"></i></a></li>
          <li><a href="https://facebook.com/todywa" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="https://intagram.com/todywa" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>

    </div>
  </div>


  <form class="contact-form" method="post">
    <div class="form-title">Contact Me</div>
    <div class="form-area">
      <!-- <input type="hidden" name="password" value="$password"> -->
      <input type="hidden" name="to" value="yussufftolu@gmail.com">

      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="" required>

      <label for="subject">Subject</label>
      <input type="text" name="subject" id="subject" value="" required>

      <label for="body">Message</label>
      <textarea name="body" id="body" rows="5" cols="50" required=""></textarea>

      <input type="submit" value="SEND">
    </div>
  </form>

</div>
</body>
</html>